/********************/
/* GENERAL SETTINGS */
/********************/
#timerbox {
    right: 0;
    padding: 2em;
    background-color: Green;
    color: white;
    position: fixed;
    bottom: 0;
    display: none;
    z-index:1;
}

#quiz-form {
    display: none;
}
#timerbox.orange {
    background-color: #ffa81f !important;
}

#timerbox.red {
    background-color: Red !important;
}

